/* --- MOBILE (PAR DÉFAUT) --- */
/* Entete.scss */
.entete {
  height: 60px;
  color: white;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Pour le positionnement du menu */
}

.entete-logo img {
  height: 50px;
  width: auto;
  transition: transform 0.5s ease;
}
.entete-logo:hover {
  transform: scale(1.015);
}

/* Burger + Login collés */
.entete-droite {
  display: flex;
  align-items: center;
  gap: 1px; /* espace entre burger et login */
  position: relative; /* Pour le menu déconnexion */

  /* --- DÉCONNEXION --- */
  .conteneur-utilisateur {
    position: relative;
    display: flex;
    align-items: center;

    .menu-deroulant {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #1a1a1a;
      border: 1px solid #2A8943;
      padding: 10px;
      z-index: 3000;
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 120px;
      border-radius: 5px;

      .nom-utilisateur {
        color: white;
        font-size: 14px;
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
        text-align: center;
      }

      .bouton-deconnexion {
        background-color: #2A8943;
        color: white;
        border: none;
        padding: 5px;
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        &:hover { opacity: 0.8; }
        border-radius: 15px;
      }
    }
  }
}

.burger {
  font-size: 35px;
  background: none;
  border: none;
  color: #2A8943;
  cursor: pointer;
}

.login-icon {
  height: 30px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.login-icon:hover {
  transform: scale(1.1);
}

/* Menu burger */
.menu {
  position: fixed;
  inset: 0;
  height: 100vh;
    background-color: #1a1a1a;

  /* Grain + gradient foncé */
  background-image: 
    radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, #0d0d0d, #1a1a1a);

  /* Taille des calques */
  background-size: 10px 10px, 10px 10px, 100% 100%;

  /* Position des calques */
  background-position: 0 0, 5px 5px, 0 0;
  background-repeat: repeat, repeat, no-repeat;
  color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
  /* Scrollable */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ne pas centrer verticalement */
  align-items: center;
  overflow-y: auto; /* Permet de scroller si le contenu dépasse */
  padding-top: 50px;
  padding-bottom: 50px;
}

/* DECONNEXION */
.bouton-deconnexion-mobile {
  margin-top: 20px;
  background: none;
  border: 2px solid #2A8943;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
}

.menu-logo img {
  height: 200px;
  width: auto;
  margin-top: 15%;
}

.menu.open {
  transform: translateX(0);
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 26px;
  background: none;
  border: none;
  color: #2A8943;
  cursor: pointer;
}

nav {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 16px;
  align-items: center;
}

nav a,
nav a:visited,
nav a:link,
nav .router-link {
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.4s ease;
  display: inline-block;
  position: relative; /* Nécessaire pour positionner la barre */

  /* Création de la ligne de base (invisible) */
  &::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Espace sous le texte */
    left: 0;
    width: 0; /* Commence à 0 pour l'animation */
    height: 3px;
    background-color: #2A8943;
    transition: width 0.4s ease; /* L'animation de gauche à droite */
  }
}

/* Hover et focus */
nav a:hover,
nav a:focus,
nav .router-link:hover,
nav .router-link:focus {
  color: #2A8943;
  transform: scale(1.04);
  
  /* On active la ligne au survol */
  &::after {
    width: 100%;
  }
}

/* Lien actif */
nav a.active,
nav .router-link.active {
  color: #2A8943;
  transform: scale(1.05);
  
  /* La ligne reste pleine sur la page active */
  &::after {
    width: 100%;
  }
}
/* Desktop menu */
.menu-desktop-nav {
  display: none; /* caché par défaut */
}

/* --- STYLE DESKTOP (Dès 768px) --- */
@media (min-width: 768px) and (max-width: 1090px) {

  .burger { 
    display: none; 
  }
  .menu { 
    display: none; 
  }
  .entete { 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 1%;
  }
  .entete-logo img { 
    height: 60px; 
  }
  .entete-droite { 
    display: flex; 
    align-items: center; 
    gap: 20px; 
  }
  .menu-desktop-nav { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 38px; 
    margin: 0; 
    padding: 0; 
  }
  .menu-desktop-nav a { 
    font-size: 20px !important; 
  }
  .login-icon { 
    height: 35px; 
  }
}

/* --- STYLE GRAND ÉCRAN (Dès 1091px) --- */
@media (min-width: 1091px) {

  .burger { 
    display: none; 
  }
  .menu { 
    display: none; 
  }
  .entete { 
    margin-top: 1%; 
    justify-content: 
    space-between; 
    align-items: center; 
  }
  .entete-logo img { 
    height: 70px; 
  }
  .entete-droite { 
    display: flex; 
    align-items: center; 
    gap: 20px; 
  }
  .menu-desktop-nav { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    gap: 70px; 
  }
  .menu-desktop-nav a { 
    font-size: 30px !important; 
  }
  .login-icon { 
    height: 35px; 
  }
}