/* --- MOBILE (PAR DÉFAUT) --- */
/* Footer.scss */
.footer {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 30px;
  padding: 20px;
  color: #fff;
  text-align: center;

  .footer-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .footer-title {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }

    .footer-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 0;
      margin: 0;
      
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        white-space: nowrap;
        &:hover, &.active {
          color: #2A8943;
          transform: scale(1.04);
        }
      }
    }
  }

  h1, h2, h3, h4 {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.7px;
  }

  .footer-socials {
    display: flex;
    gap: 15px;
    border: 1px solid #294F26;
    border-radius: 10px;
    background-color: rgba(57, 57, 57, 0.33);
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    img { width: 30px; height: 30px; }
  }

  .footer-horaires {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      width: 100%;
      max-width: 350px; 
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid #294F26;
      border-radius: 15px;
      overflow: hidden;

      th, td {
        padding: 8px;
        background-color: #3939393b;
        text-align: center;
        border-bottom: 1px solid #294F26;
        border-right: 1px solid #294F26;
      }
      th:last-child, td:last-child { border-right: none; }
      tr:last-child td { border-bottom: none; }
    }
  }

  .footer-logo img { width: 100px; }
}

/* --- STYLE DESKTOP --- */
@media (min-width: 1024px) {
  .footer {
    flex-direction: row;           
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 50px;
    gap: 30px;

    .footer-menu-wrapper {
      align-items: flex-start;
      
      .footer-title { 
        font-size: 1.5rem; 
        margin-bottom: 12px;
        text-align: left;
      }
      
      .footer-menu {
        align-items: flex-start;
        gap: 10px;
        a { font-size: 1.1rem; }
      }
    }

    .footer-horaires {
      width: auto;
      table { width: 450px; }
    }

    .footer-logo img { width: 180px; }

    .footer-socials {
      width: 130px;
      height: 70px;
      img { width: 45px; height: 45px; }
    }
  }
}